<ion-header>
    <ion-toolbar mode="ios" >
        <ion-buttons slot="start">
            <ion-back-button default-href="/tabs/myPlants"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Plant Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showEditModal()">Edit
                <ion-icon slot="end" name="create-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="12" size-md="6" offset-sm="0" offset-md="3" *ngIf="displayedPlant">
                <ion-img src={{displayedPlant.imgSrc}}></ion-img>
                <ion-item>
                    <h1 class="plant-name">{{displayedPlant.name}}</h1>
                </ion-item>
                <ion-item>
                    <h4 class="plant-species">{{displayedPlant.species}}</h4>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>Watering Interval </h3>
                        <p>{{displayedPlant.interval}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>Last Watered</h3>
                        <p>{{displayedPlant.lastWatered | slice:0:10}}</p>
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="displayedPlant.birthday">
                    <ion-label>
                        <h3>Planting Date</h3>
                        <p>{{displayedPlant.birthday | slice:0:10}}</p>
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="displayedPlant.description">
                    <ion-label>
                        <h3>Description</h3>
                        <p>{{displayedPlant.description}}</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
